[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim-jade"]
	path = vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim-protobuf"]
	path = vim-protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "less.vim"]
	path = less.vim
	url = https://github.com/vim-scripts/less.vim.git
[submodule "wolfpack"]
	path = wolfpack
	url = https://github.com/carlson-erik/wolfpack.git
[submodule "vim-csharp"]
	path = vim-csharp
	url = git://github.com/OrangeT/vim-csharp.git
[submodule "taglist.vim"]
	path = taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "YCM-Generator"]
	path = YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "github-issues.vim"]
	path = github-issues.vim
	url = https://github.com/jaxbot/github-issues.vim.git
